# Collecting temperature data from an API

## About the data
In this notebook, we will be collecting daily temperature data from the [National Centers for Environmental Information (NCEI) API](https://www.ncdc.noaa.gov/cdo-web/webservices/v2). We will use the Global Historical Climatology Network - Daily (GHCND) data set; see the documentation [here](https://www1.ncdc.noaa.gov/pub/data/cdo/documentation/GHCND_documentation.pdf).

*Note: The NCEI is part of the National Oceanic and Atmospheric Administration (NOAA) and, as you can see from the URL for the API, this resource was created when the NCEI was called the NCDC. Should the URL for this resource change in the future, you can search for the NCEI weather API to find the updated one.*

## Using the NCEI API
Paste your token below.

In [36]:
import requests

def make_request(endpoint, payload=None):
    """
    Make a request to a specific endpoint on the weather API
    passing headers and optional payload.
    
    Parameters:
        - endpoint: The endpoint of the API you want to 
                    make a GET request to.
        - payload: A dictionary of data to pass along 
                   with the request.
    
    Returns:
        Response object.
    """
    return requests.get(
        f'https://www.ncdc.noaa.gov/cdo-web/api/v2/{endpoint}',
        headers={
            'token': 'BLCJktYyZmRiVTHlgmzFagKUPkAGUyOA'
        },
        params=payload
    )

## See what datasets are available
We can make requests to the `datasets` endpoint to see what datasets are available. We also pass in a dictionary for the payload to get datsets that have data after the start date of October 1, 2018.

In [37]:
# see what datasets are available
response = make_request('datasets', {'startdate':'2018-10-01'})
response.status_code

200

Status code of `200` means everything is OK. More codes can be found [here](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes).

### Get the keys of the result
The result is a JSON object which we can access with the `json()` method of our `Response` object. JSON objects can be treated like dictionaries, so we can access the `keys()` just like we would a dictionary:

In [38]:
response.json().keys()

dict_keys(['metadata', 'results'])

The `metadata` of the JSON response will tell us information about the request and data we got back:

In [39]:
response.json()['metadata']

{'resultset': {'offset': 1, 'count': 11, 'limit': 25}}

### Figure out what data is in the result
The `results` key contains the data we requested. This is a list of what would be rows in our dataframe. Each entry in the list is a dictionary, so we can look at the keys to get the fields:

In [40]:
response.json()['results'][0].keys()

dict_keys(['uid', 'mindate', 'maxdate', 'name', 'datacoverage', 'id'])

### Parse the result
We don't want all those fields, so we will use a list comphrension to take only the `id` and `name` fields out:

In [41]:
[(data['id'], data['name']) for data in response.json()['results']]

[('GHCND', 'Daily Summaries'),
 ('GSOM', 'Global Summary of the Month'),
 ('GSOY', 'Global Summary of the Year'),
 ('NEXRAD2', 'Weather Radar (Level II)'),
 ('NEXRAD3', 'Weather Radar (Level III)'),
 ('NORMAL_ANN', 'Normals Annual/Seasonal'),
 ('NORMAL_DLY', 'Normals Daily'),
 ('NORMAL_HLY', 'Normals Hourly'),
 ('NORMAL_MLY', 'Normals Monthly'),
 ('PRECIP_15', 'Precipitation 15 Minute'),
 ('PRECIP_HLY', 'Precipitation Hourly')]

## Figure out which data category we want
The `GHCND` data containing daily summaries is what we want. Now we need to make another request to figure out which data categories we want to collect. This is the `datacategories` endpoint. We have to pass the `datasetid` for `GHCND` as the payload so the API knows which dataset we are asking about:

In [42]:
# get data category id
response = make_request(
    'datacategories',
    payload={
        'datasetid' : 'GHCND'
    }
)
response.status_code

200

Since we know the API gives us a `metadata` and a `results` key in each response, we can see what is in the `results` portion of the JSON response:

In [43]:
response.json()['results']

[{'name': 'Evaporation', 'id': 'EVAP'},
 {'name': 'Land', 'id': 'LAND'},
 {'name': 'Precipitation', 'id': 'PRCP'},
 {'name': 'Sky cover & clouds', 'id': 'SKY'},
 {'name': 'Sunshine', 'id': 'SUN'},
 {'name': 'Air Temperature', 'id': 'TEMP'},
 {'name': 'Water', 'id': 'WATER'},
 {'name': 'Wind', 'id': 'WIND'},
 {'name': 'Weather Type', 'id': 'WXTYPE'}]

## Grab the data type ID for the Temperature category
We will be working with temperatures, so we want the `TEMP` data category. Now, we need to find the `datatypes` to collect. For this, we use the `datatypes` endpoint and provide the `datacategoryid` which was `TEMP`. We also specify a limit for the number of `datatypes` to return with the payload. If there are more than this we can make another request later, but for now, we just want to pick a few out:

In [44]:
# get data type id
response = make_request(
    'datatypes',
    payload={
        'datacategoryid' : 'TEMP', 
        'limit' : 100
    }
)
response.status_code

200

We can grab the `id` and `name` fields for each of the entries in the `results` portion of the data. The fields we are interested in are at the bottom:

In [45]:
[(datatype['id'], datatype['name']) for datatype in response.json()['results']][-5:] # look at the last 5

[('MNTM', 'Monthly mean temperature'),
 ('TAVG', 'Average Temperature.'),
 ('TMAX', 'Maximum temperature'),
 ('TMIN', 'Minimum temperature'),
 ('TOBS', 'Temperature at the time of observation')]

In [46]:
response.json()['results']

[{'mindate': '1763-01-01',
  'maxdate': '2022-05-01',
  'name': 'Cooling Degree Days Season to Date',
  'datacoverage': 1,
  'id': 'CDSD'},
 {'mindate': '1863-05-04',
  'maxdate': '2022-06-14',
  'name': 'Number of days included in the multiday minimum temperature (MDTN)',
  'datacoverage': 1,
  'id': 'DATN'},
 {'mindate': '1863-05-04',
  'maxdate': '2022-06-13',
  'name': 'Number of days included in the multiday maximum temperature (MDTX)',
  'datacoverage': 1,
  'id': 'DATX'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Long-term averages of daily diurnal temperature range',
  'datacoverage': 1,
  'id': 'DLY-DUTR-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Long-term standard deviations of daily diurnal temperature range',
  'datacoverage': 1,
  'id': 'DLY-DUTR-STDDEV'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Long-term averages of daily average temperature',
  'datacoverage': 1,
  'id': 'DLY-TAVG-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Long-term standard deviations of daily average temperature',
  'datacoverage': 1,
  'id': 'DLY-TAVG-STDDEV'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Long-term averages of daily maximum temperature',
  'datacoverage': 1,
  'id': 'DLY-TMAX-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Long-term standard deviations of daily maximum temperature',
  'datacoverage': 1,
  'id': 'DLY-TMAX-STDDEV'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Long-term averages of daily minimum temperature',
  'datacoverage': 1,
  'id': 'DLY-TMIN-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Long-term standard deviations of daily minimum temperature',
  'datacoverage': 1,
  'id': 'DLY-TMIN-STDDEV'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-05-01',
  'name': 'Extreme minimum temperature for the period.',
  'datacoverage': 1,
  'id': 'EMNT'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-05-01',
  'name': 'Extreme maximum temperature for the period.',
  'datacoverage': 1,
  'id': 'EMXT'},
 {'mindate': '1763-07-01',
  'maxdate': '2022-05-01',
  'name': 'Heating Degree Days Season to Date',
  'datacoverage': 1,
  'id': 'HDSD'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Dew point 10th percentile',
  'datacoverage': 1,
  'id': 'HLY-DEWP-10PCTL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Dew point 90th percentile',
  'datacoverage': 1,
  'id': 'HLY-DEWP-90PCTL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Dew point mean',
  'datacoverage': 1,
  'id': 'HLY-DEWP-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Heat index mean',
  'datacoverage': 1,
  'id': 'HLY-HIDX-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Temperature 10th percentile',
  'datacoverage': 1,
  'id': 'HLY-TEMP-10PCTL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Temperature 90th percentile',
  'datacoverage': 1,
  'id': 'HLY-TEMP-90PCTL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Temperature mean',
  'datacoverage': 1,
  'id': 'HLY-TEMP-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-31',
  'name': 'Wind chill mean',
  'datacoverage': 1,
  'id': 'HLY-WCHL-NORMAL'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-06-17',
  'name': 'Highest minimum temperature',
  'id': 'HTMN'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-06-17',
  'name': 'Highest maximum temperature',
  'id': 'HTMX'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-06-17',
  'name': 'Lowest minimum temperature',
  'id': 'LTMN'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-06-17',
  'name': 'Lowest maximum temperature',
  'id': 'LTMX'},
 {'mindate': '1863-05-04',
  'maxdate': '2022-06-14',
  'name': 'Multiday minimum temperature (use with DATN)',
  'datacoverage': 1,
  'id': 'MDTN'},
 {'mindate': '1863-05-04',
  'maxdate': '2022-06-13',
  'name': 'Multiday maximum temperature (use with DATX)',
  'datacoverage': 1,
  'id': 'MDTX'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term averages of monthly diurnal temperature range',
  'datacoverage': 1,
  'id': 'MLY-DUTR-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term standard deviations of monthly diurnal temperature range',
  'datacoverage': 1,
  'id': 'MLY-DUTR-STDDEV'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term averages of monthly average temperature',
  'datacoverage': 1,
  'id': 'MLY-TAVG-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term standard deviations of monthly average temperature',
  'datacoverage': 1,
  'id': 'MLY-TAVG-STDDEV'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmax is greater than or equal to 40F',
  'datacoverage': 1,
  'id': 'MLY-TMAX-AVGNDS-GRTH040'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmax is greater than or equal to 50F',
  'datacoverage': 1,
  'id': 'MLY-TMAX-AVGNDS-GRTH050'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmax is greater than or equal to 60F',
  'datacoverage': 1,
  'id': 'MLY-TMAX-AVGNDS-GRTH060'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmax is greater than or equal to 70F',
  'datacoverage': 1,
  'id': 'MLY-TMAX-AVGNDS-GRTH070'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmax is greater than or equal to 80F',
  'datacoverage': 1,
  'id': 'MLY-TMAX-AVGNDS-GRTH080'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmax is greater than or equal to 90F',
  'datacoverage': 1,
  'id': 'MLY-TMAX-AVGNDS-GRTH090'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmax is greater than or equal to 100F',
  'datacoverage': 1,
  'id': 'MLY-TMAX-AVGNDS-GRTH100'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmax is less than or equal to 32F',
  'datacoverage': 1,
  'id': 'MLY-TMAX-AVGNDS-LSTH032'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term averages of monthly maximum temperature',
  'datacoverage': 1,
  'id': 'MLY-TMAX-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term standard deviations of monthly maximum temperature',
  'datacoverage': 1,
  'id': 'MLY-TMAX-STDDEV'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmin is less than or equal to 0F',
  'datacoverage': 1,
  'id': 'MLY-TMIN-AVGNDS-LSTH000'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmin is less than or equal to 10F',
  'datacoverage': 1,
  'id': 'MLY-TMIN-AVGNDS-LSTH010'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmin is less than or equal to 20F',
  'datacoverage': 1,
  'id': 'MLY-TMIN-AVGNDS-LSTH020'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmin is less than or equal to 32F',
  'datacoverage': 1,
  'id': 'MLY-TMIN-AVGNDS-LSTH032'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmin is less than or equal to 40F',
  'datacoverage': 1,
  'id': 'MLY-TMIN-AVGNDS-LSTH040'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmin is less than or equal to 50F',
  'datacoverage': 1,
  'id': 'MLY-TMIN-AVGNDS-LSTH050'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmin is less than or equal to 60F',
  'datacoverage': 1,
  'id': 'MLY-TMIN-AVGNDS-LSTH060'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term average number of days per month where tmin is less than or equal to 70F',
  'datacoverage': 1,
  'id': 'MLY-TMIN-AVGNDS-LSTH070'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term averages of monthly minimum temperature',
  'datacoverage': 1,
  'id': 'MLY-TMIN-NORMAL'},
 {'mindate': '2010-01-01',
  'maxdate': '2010-12-01',
  'name': 'Long-term standard deviations of monthly minimum temperature',
  'datacoverage': 1,
  'id': 'MLY-TMIN-STDDEV'},
 {'mindate': '1763-01-01',
  'maxdate': '2016-03-01',
  'name': 'Monthly Mean minimum temperature',
  'datacoverage': 1,
  'id': 'MMNT'},
 {'mindate': '1763-01-01',
  'maxdate': '2016-03-01',
  'name': 'Monthly Mean maximum temperature',
  'datacoverage': 1,
  'id': 'MMXT'},
 {'mindate': '1763-01-01',
  'maxdate': '2016-03-01',
  'name': 'Monthly mean temperature',
  'datacoverage': 1,
  'id': 'MNTM'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-06-17',
  'name': 'Average Temperature.',
  'datacoverage': 1,
  'id': 'TAVG'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-06-17',
  'name': 'Maximum temperature',
  'datacoverage': 1,
  'id': 'TMAX'},
 {'mindate': '1763-01-01',
  'maxdate': '2022-06-17',
  'name': 'Minimum temperature',
  'datacoverage': 1,
  'id': 'TMIN'},
 {'mindate': '1876-11-27',
  'maxdate': '2022-06-17',
  'name': 'Temperature at the time of observation',
  'datacoverage': 1,
  'id': 'TOBS'}]

## Determine which Location Category we want
Now that we know which `datatypes` we will be collecting, we need to find the location to use. First, we need to figure out the location category. This is obtained from the `locationcategories` endpoint by passing the `datasetid`:

In [11]:
# get location category id 
response = make_request(
    'locationcategories', 
    {
        'datasetid' : 'GHCND'
    }
)
response.status_code

200

We can use `pprint` to print dictionaries in an easier-to-read format. After doing so, we can see there are 12 different location categories, but we are only interested in `CITY`:

In [12]:
import pprint
pprint.pprint(response.json())

{'metadata': {'resultset': {'count': 12, 'limit': 25, 'offset': 1}},
 'results': [{'id': 'CITY', 'name': 'City'},
             {'id': 'CLIM_DIV', 'name': 'Climate Division'},
             {'id': 'CLIM_REG', 'name': 'Climate Region'},
             {'id': 'CNTRY', 'name': 'Country'},
             {'id': 'CNTY', 'name': 'County'},
             {'id': 'HYD_ACC', 'name': 'Hydrologic Accounting Unit'},
             {'id': 'HYD_CAT', 'name': 'Hydrologic Cataloging Unit'},
             {'id': 'HYD_REG', 'name': 'Hydrologic Region'},
             {'id': 'HYD_SUB', 'name': 'Hydrologic Subregion'},
             {'id': 'ST', 'name': 'State'},
             {'id': 'US_TERR', 'name': 'US Territory'},
             {'id': 'ZIP', 'name': 'Zip Code'}]}

## Get NYC Location ID
In order to find the location ID for New York, we need to search through all the cities available. Since we can ask the API to return the cities sorted, we can use binary search to find New York quickly without having to make many requests or request lots of data at once. The following function makes the first request to see how big the list of cities is and looks at the first value. From there it decides if it needs to move towards the beginning or end of the list by comparing the city we are looking for to others alphabetically. Each time it makes a request it can rule out half of the remaining data to search.

In [13]:
def get_item(name, what, endpoint, start=1, end=None):
    """
    Grab the JSON payload for a given field by name using binary search.

    Parameters:
        - name: The item to look for.
        - what: Dictionary specifying what the item in `name` is.
        - endpoint: Where to look for the item.
        - start: The position to start at. We don't need to touch this, but the
                 function will manipulate this with recursion.
        - end: The last position of the cities. Used to find the midpoint, but
               like `start` this is not something we need to worry about.

    Returns:
        Dictionary of the information for the item if found otherwise 
        an empty dictionary.
    """
    # find the midpoint which we use to cut the data in half each time
    mid = (start + (end if end else 1)) // 2
    
    # lowercase the name so this is not case-sensitive
    name = name.lower()
    
    # define the payload we will send with each request
    payload = {
        'datasetid' : 'GHCND',
        'sortfield' : 'name',
        'offset' : mid, # we will change the offset each time
        'limit' : 1 # we only want one value back
    }
    
    # make our request adding any additional filter parameters from `what`
    response = make_request(endpoint, {**payload, **what})
    
    if response.ok:
        # if response is ok, grab the end index from the response metadata the first time through
        end = end if end else response.json()['metadata']['resultset']['count']
        
        # grab the lowercase version of the current name
        current_name = response.json()['results'][0]['name'].lower()
        
        # if what we are searching for is in the current name, we have found our item
        if name in current_name:
            return response.json()['results'][0] # return the found item
        else:
            if start >= end: 
                # if our start index is greater than or equal to our end, we couldn't find it
                return {}
            elif name < current_name:
                # our name comes before the current name in the alphabet, so we search further to the left
                return get_item(name, what, endpoint, start, mid - 1)
            elif name > current_name:
                # our name comes after the current name in the alphabet, so we search further to the right
                return get_item(name, what, endpoint, mid + 1, end)    
    else:
        # response wasn't ok, use code to determine why
        print(f'Response not OK, status: {response.status_code}')

def get_location(name):
    """
    Grab the JSON payload for the location by name using binary search.

    Parameters:
        - name: The city to look for.

    Returns:
        Dictionary of the information for the city if found otherwise 
        an empty dictionary.
    """
    return get_item(name, {'locationcategoryid' : 'CITY'}, 'locations')

When we use binary search to find New York, we find it in just 8 requests despite it being close to the middle of 1,983 entries:

In [14]:
# get NYC id 
nyc = get_location('New York')
nyc

{'mindate': '1869-01-01',
 'maxdate': '2019-05-02',
 'name': 'New York, NY US',
 'datacoverage': 1,
 'id': 'CITY:US360019'}

## Get the station ID for Central Park
The most granular data is found at the station level:

In [15]:
central_park = get_item('NY City Central Park', {'locationid' : nyc['id']}, 'stations')
central_park

{'elevation': 42.7,
 'mindate': '1869-01-01',
 'maxdate': '2019-05-01',
 'latitude': 40.77898,
 'name': 'NY CITY CENTRAL PARK, NY US',
 'datacoverage': 1,
 'id': 'GHCND:USW00094728',
 'elevationUnit': 'METERS',
 'longitude': -73.96925}

## Request the temperature data
Finally, we have everything we need to make our request for the New York temperature data. For this we use the `data` endpoint and provide all the parameters we picked up throughout our exploration of the API:

In [16]:
# get NYC daily summaries data 
response = make_request(
    'data', 
    {
        'datasetid' : 'GHCND',
        'stationid' : central_park['id'],
        'locationid' : nyc['id'],
        'startdate' : '2018-10-01',
        'enddate' : '2018-10-31',
        'datatypeid' : ['TMIN', 'TMAX', 'TOBS'], # temperature at time of observation, min, and max
        'units' : 'metric',
        'limit' : 1000
    }
)
response.status_code

200

## Create a DataFrame
The Central Park station only has the daily minimum and maximum temperatures.

In [17]:
import pandas as pd

df = pd.DataFrame(response.json()['results'])
df.head()

  attributes datatype                 date            station  value
0   ,,W,2400     TMAX  2018-10-01T00:00:00  GHCND:USW00094728   24.4
1   ,,W,2400     TMIN  2018-10-01T00:00:00  GHCND:USW00094728   17.2
2   ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00094728   25.0
3   ,,W,2400     TMIN  2018-10-02T00:00:00  GHCND:USW00094728   18.3
4   ,,W,2400     TMAX  2018-10-03T00:00:00  GHCND:USW00094728   23.3

We didn't get TOBS because the station doesn't measure that:

In [18]:
df.datatype.unique()

array(['TMAX', 'TMIN'], dtype=object)

Despite showing up in the data as measuring it... Real-world data is dirty!

In [19]:
if get_item(
    'NY City Central Park', {'locationid' : nyc['id'], 'datatypeid': 'TOBS'}, 'stations'
):
    print('Found!')

Found!

## Using a different station
Let's use LaGuardia airport instead. It contains `TAVG` (average daily temperature):

In [20]:
laguardia = get_item(
    'LaGuardia', {'locationid' : nyc['id']}, 'stations'
)
laguardia

{'elevation': 3.4,
 'mindate': '1939-10-07',
 'maxdate': '2019-05-02',
 'latitude': 40.7792,
 'name': 'LAGUARDIA AIRPORT, NY US',
 'datacoverage': 1,
 'id': 'GHCND:USW00014732',
 'elevationUnit': 'METERS',
 'longitude': -73.88}

We make our request using the LaGuardia airport station this time and ask for `TAVG` instead of `TOBS`.

In [21]:
# get NYC daily summaries data 
response = make_request(
    'data', 
    {
        'datasetid' : 'GHCND',
        'stationid' : laguardia['id'],
        'locationid' : nyc['id'],
        'startdate' : '2018-10-01',
        'enddate' : '2018-10-31',
        'datatypeid' : ['TMIN', 'TMAX', 'TAVG'], # temperature at time of observation, min, and max
        'units' : 'metric',
        'limit' : 1000
    }
)
response.status_code

200

The request was successful, so let's make a dataframe:

In [22]:
df = pd.DataFrame(response.json()['results'])
df.head()

  attributes datatype                 date            station  value
0      H,,S,     TAVG  2018-10-01T00:00:00  GHCND:USW00014732   21.2
1   ,,W,2400     TMAX  2018-10-01T00:00:00  GHCND:USW00014732   25.6
2   ,,W,2400     TMIN  2018-10-01T00:00:00  GHCND:USW00014732   18.3
3      H,,S,     TAVG  2018-10-02T00:00:00  GHCND:USW00014732   22.7
4   ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732   26.1

We should check we got what we wanted: 31 entries for TAVG, TMAX, and TMIN (1 per day):

In [23]:
df.datatype.value_counts()

TMAX    31
TAVG    31
TMIN    31
Name: datatype, dtype: int64

Write the data to a CSV file for use in other notebooks.

In [24]:
df.to_csv('data/nyc_temperatures.csv', index=False)

# Tsai

In [29]:
import requests
import pandas as pd

In [30]:
def get_html(endpoint):
    
    url = f'https://www.ncei.noaa.gov/cdo-web/api/v2/{endpoint}'
    headers = {'token':'BLCJktYyZmRiVTHlgmzFagKUPkAGUyOA'}
    params = {'startdate':'2018-08-28',
             'enddate':'2019-04-15'}
    r = requests.get(url,headers = headers,params=params)
    
    return r

In [31]:
r = get_html('datasets')

In [32]:
r.status_code

200

In [35]:
r.json()['metadata']

{'resultset': {'offset': 1, 'count': 11, 'limit': 25}}

In [34]:
pd.DataFrame(r.json()['results'])

,uid,mindate,maxdate,name,datacoverage,id
0,gov.noaa.ncdc:C00861,1763-01-01,2022-06-17,Daily Summaries,1.00,GHCND
1,gov.noaa.ncdc:C00946,1763-01-01,2022-06-01,Global Summary of the Month,1.00,GSOM
2,gov.noaa.ncdc:C00947,1763-01-01,2022-01-01,Global Summary of the Year,1.00,GSOY
3,gov.noaa.ncdc:C00345,1991-06-05,2022-06-17,Weather Radar (Level II),0.95,NEXRAD2
4,gov.noaa.ncdc:C00708,1994-05-20,2022-06-17,Weather Radar (Level III),0.95,NEXRAD3
5,gov.noaa.ncdc:C00821,2010-01-01,2010-01-01,Normals Annual/Seasonal,1.00,NORMAL_ANN
6,gov.noaa.ncdc:C00823,2010-01-01,2010-12-31,Normals Daily,1.00,NORMAL_DLY
7,gov.noaa.ncdc:C00824,2010-01-01,2010-12-31,Normals Hourly,1.00,NORMAL_HLY
8,gov.noaa.ncdc:C00822,2010-01-01,2010-12-01,Normals Monthly,1.00,NORMAL_MLY
9,gov.noaa.ncdc:C00505,1970-05-12,2014-01-01,Precipitation 15 Minute,0.25,PRECIP_15
10,gov.noaa.ncdc:C00313,1900-01-01,2014-01-01,Precipitation Hourly,1.00,PRECIP_HLY