# ch02 Exercise

In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('data/parsed.csv')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
dtypes: float64(9), int64(4), object(14)
memory usage: 1.9+ MB

# exercise1

In [41]:
df[(df.parsed_place=='Japan')&(df.magType=='mb')].mag.quantile(0.95)

4.9

# exercise2

In [42]:
df.tsunami.value_counts()

0    9271
1      61
Name: tsunami, dtype: int64

In [43]:
len(df[(df.parsed_place=='Indonesia')&(df.tsunami==1)])/len(df[(df.parsed_place=='Indonesia')])

0.23129251700680273

In [44]:
df[(df.parsed_place=='Indonesia')].tsunami.value_counts(normalize=True)[1]

0.23129251700680273

# exercise3

In [45]:
df[df.parsed_place=='Nevada'].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

# excercise4

In [87]:
ringFire = ['Bolivia', 
            'Chile', 
            'Ecuador', 
            'Peru', 
            'Costa Rica', 
            'Guatemala', 
            '^Mexico' ,#(be careful not to select New Mexico)
            'Japan',
            'Philippines', 
            'Indonesia', 
            'New Zealand', 
            'Antarctic', #(look for Antarctic), 
            'Canada', 
            'Fiji', 
            'Alaska', 
            'Washington', 
            'California', 
            'Russia', 
            'Taiwan', 
            'Tonga', 
            'Kermadec Islands']

In [89]:
df['ringFire']=df.parsed_place.str.contains("|".join(ringFire))

In [94]:
sorted(df[df.ringFire].parsed_place.unique())

['Alaska',
 'Bolivia',
 'California',
 'Canada',
 'Chile',
 'Costa Rica',
 'Ecuador',
 'Fiji',
 'Guatemala',
 'Indonesia',
 'Japan',
 'Kermadec Islands',
 'Mexico',
 'New Zealand',
 'Pacific-Antarctic Ridge',
 'Peru',
 'Philippines',
 'Russia',
 'Taiwan',
 'Tonga',
 'Washington',
 'Western Indian-Antarctic Ridge']

# exercise5

In [95]:
df.ringFire.value_counts()

True     7188
False    2144
Name: ringFire, dtype: int64

# exercise6

In [96]:
df[df.ringFire].tsunami.value_counts()

0    7143
1      45
Name: tsunami, dtype: int64